{% extends "myapp/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

    <script type="text/javascript" >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
{% block content %}
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Register</button>
	<p>Already have an account? Login <a href="/login">here</a> </p>
    </form>
{% endblock %}